@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFAE0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FEFAE0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Josefin Sans Variable', sans-serif;
}
